<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="../src/style/global.css">
    <title>Document</title>
</head>
<body>
    <div class="container m-auto h-screen">
        <!-- <div class="warning bg-yellow-200 p-4 flex text-xs rounded-b-3xl">
            <i class="m-2 items-center w-28" data-feather="alert-triangle"></i>
            <p>perhatian!, website ini masih dalam pengembangan. Jika anda menemukan bug (fitur) silahkan <a class="underline" href="https://www.instagram.com/bogengteam_/">hubungi kami</a></p>
        </div> -->
        <div class="wrap p-8 hero">
            <div class="back mb-5 text-green-950 flex justify-center items-center h-12 w-12 bg-slate-100 rounded-full">
                <a class="" href="/index.html"><i data-feather="chevron-left"></i></a>
            </div>
            <h3 class="focus-in-expand font-bold text-green-950 text-3xl">Pilihan Materi</h3>
            <p class="text-xs mb-5 text-slate-500">Disini anda bisa memilih materi sesuai yang akan anda pelajari</p>
            <div class="cari flex h-12 mb-5 text-slate-500 bg-slate-100 rounded-xl items-center gap-2 p-4">
                <a href="" class=""><i data-feather="search"></i></a>
                <form action="" method="post">
                    <input class="bg-transparent border-none active:border-none w-full focus:outline-none" type="text" placeholder="search">
                    <input type="submit" class="hidden">
                </form>
            </div>
            <a href="detail.html" class="card slide-top-2 bg-white cursor-pointer rounded-xl flex gap-5 mb-5 items-center">
                <div class="gambar w-28">
                    <img src="https://source.unsplash.com/random/?japan" class="rounded-xl h-28 w-28 object-cover" alt="">
                </div>
                <div class="judul col-span-2 text-sm">
                    <h3 class="mb-2 text-green-950 font-bold">Lorem ipsum dolor sit amet consectetur.</h3>
                    <p class="text-xs text-slate-500">Lorem ipsum dolor sit amet consectetur.</p>
                    <div class="info">
                        <div class="profil mt-4 flex items-center text-xs text-slate-500 gap-2">
                            <img class="w-6 h-6 rounded-full object-cover" src="https://source.unsplash.com/random/?profile" alt="pp">
                            <p>kelompok 1</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="detail.html" class="card slide-top-2 bg-white cursor-pointer rounded-xl flex gap-5 mb-5 items-center">
                <div class="gambar w-28">
                    <img src="https://source.unsplash.com/random/?indonesia" class="rounded-xl h-28 w-28 object-cover" alt="">
                </div>
                <div class="judul col-span-2 text-sm">
                    <h3 class="mb-2 text-green-950 font-bold">Lorem ipsum dolor sit amet consectetur.</h3>
                    <p class="text-xs text-slate-500">Lorem ipsum dolor sit amet consectetur.</p>
                    <div class="info">
                        <div class="profil mt-4 flex items-center text-xs text-slate-500 gap-2">
                            <img class="w-6 h-6 rounded-full object-cover" src="https://source.unsplash.com/random/?profile" alt="pp">
                            <p>kelompok 1</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="detail.html" class="card slide-top-2 bg-white cursor-pointer rounded-xl flex gap-5 mb-5 items-center">
                <div class="gambar w-28">
                    <img src="https://source.unsplash.com/random" class="rounded-xl h-28 w-28 object-cover" alt="">
                </div>
                <div class="judul col-span-2 text-sm">
                    <h3 class="mb-2 text-green-950 font-bold">Lorem ipsum dolor sit amet consectetur.</h3>
                    <p class="text-xs text-slate-500">Lorem ipsum dolor sit amet consectetur.</p>
                    <div class="info">
                        <div class="profil mt-4 flex items-center text-xs text-slate-500 gap-2">
                            <img class="w-6 h-6 rounded-full object-cover" src="https://source.unsplash.com/random/?profile" alt="pp">
                            <p>kelompok 1</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="detail.html" class="card slide-top-2 bg-white cursor-pointer rounded-xl flex gap-5 mb-5 items-center">
                <div class="gambar w-28">
                    <img src="https://source.unsplash.com/random/300x300" class="rounded-xl h-28 w-28 object-cover" alt="">
                </div>
                <div class="judul col-span-2 text-sm">
                    <h3 class="mb-2 text-green-950 font-bold">Lorem ipsum dolor sit amet consectetur.</h3>
                    <p class="text-xs text-slate-500">Lorem ipsum dolor sit amet consectetur.</p>
                    <div class="info">
                        <div class="profil mt-4 flex items-center text-xs text-slate-500 gap-2">
                            <img class="w-6 h-6 rounded-full object-cover" src="https://source.unsplash.com/random/?profile" alt="pp">
                            <p>kelompok 1</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="detail.html" class="card slide-top-2 bg-white cursor-pointer rounded-xl flex gap-5 mb-5 items-center">
                <div class="gambar w-28">
                    <img src="https://source.unsplash.com/random/?city,night" class="rounded-xl h-28 w-28 object-cover" alt="">
                </div>
                <div class="judul col-span-2 text-sm">
                    <h3 class="mb-2 text-green-950 font-bold">Lorem ipsum dolor sit amet consectetur.</h3>
                    <p class="text-xs text-slate-500">Lorem ipsum dolor sit amet consectetur.</p>
                    <div class="info">
                        <div class="profil mt-4 flex items-center text-xs text-slate-500 gap-2">
                            <img class="w-6 h-6 rounded-full object-cover" src="https://source.unsplash.com/random/?profile" alt="pp">
                            <p>kelompok 1</p>
                        </div>
                    </div>
                </div>
            </a>
            
            
        </div>
    </div>
    <footer>
    </footer>
    <script>
        feather.replace()
    </script>
</body>
</html>